.menu a {
  color: rgba(0, 0, 0, 0.9);
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu li {
  display: block;
  float: left;
  position: relative;
  color: #fff;
}
.menu li a:hover {
  color: grey;
}
.menu li ul {
  position: absolute;
  height: 100px;
  width: 220px;
  left: -150px;
  top: 30px;
  background-color: #fff;
  border-radius: 10px;
  padding: 0;
}
.menu li ul li {
  padding: 5px;
  margin-top: 10px;
}
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.2s;
}
.fade-enter,
.fade-leave-active {
  opacity: 0;
}
.icon {
  font-size: 16px;
}
.selectbox {
  border: none;
}
@media only screen and (max-width: 600px) {
  .icon {
    font-size: 15px;
  }
  .menu {
    margin-top: 15px;
    margin-left: -8px;
  }
  .selectbox {
    margin-left: -2px;
    border: none;
    margin-right: 5px !important;
    width: 75px;
    height: 30px;
    margin-top: 5px;
    font-size: 16px;
  }
  .d-none {
    display: none;
  }
  .sm-dummy {
    margin-left: -110px;
  }
  .drop {
    position: absolute;
    height: 100px;
    width: 220px;
    top: 20px !important;
    left: 5px !important;
    background-color: #fff;
    border-radius: 10px;
    padding: 0;
  }
}
